.pass { background-color: #bfb; }
.fail { background-color: #fbb; }
.warn { background-color: #ffb; }
div.pass { border: 1px solid #0f0; }
div.fail { border: 1px solid #f00; }
div.warn { border: 1px solid #ff0; }
.compliance { padding: .5em; margin-bottom: 1em; }
.compliance h1 { text-align: center; margin: 0; font-size: 3em; padding: 0; }
.compliance p { margin: .5em 0 0; padding: 0; }

table { margin: 1em 0em; width: 100%; }
th, td { padding: .25em .5em; }
th { border-bottom: 1px solid #000; }
td { border-bottom: 1px solid #ccc; }

body { margin: 0; padding: 1em; background-color: #aaa; text-align: center; font-family: sans-serif; }
a:link, a:visited, a:active { color: #00f; }
a:hover { color: #44f; }

#wrapper { width: 750px; border: 1px solid #000; background-color: #fff; margin-left: auto; margin-right: auto; }
#header { background-color: #eee; padding: 1em; }
#header h1 { margin: 0; }
#header h1 a:link, #header h1 a:visited, #header h1 a:active { color: #000; }
#header h1 a:hover { color: #444; }
#content { padding: 2em; text-align: left; }
#content form textarea { width: 100%; height: 200px; margin: .5em 0 0; }
#content form input { padding: .5em 5em; font-weight: bold; }
#content p { margin-bottom: 0; }
#footer { text-align: right; padding: 1em; background-color: #eee; font-size: .75em; }
